# Data Wrangling

## Import relevant libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2019 data

In [4]:
df_2019=pd.read_csv('Data/2019_data.csv')

In [5]:
df_2019.head()

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
0,2019,2407198,Boston,50,7,15540,34.0,4.577,132474,84290,...,7,7,7,5,8,8,8,8,2,1
1,2019,2407199,Boston,50,7,15540,29.0,3.421,100795,84290,...,7,7,7,2,7,7,7,7,2,1
2,2019,2407200,Boston,50,15,99999,9532.0,6.152,49625,67566,...,7,7,7,2,7,7,7,7,2,1
3,2019,2407201,Boston,50,17,30100,9594.0,3.935,62643,67105,...,7,7,7,2,7,7,7,7,2,1
4,2019,2407202,Boston,23,31,38860,254.0,6.031,87679,76445,...,7,7,7,5,8,8,8,8,2,1

In [6]:
df_2019.describe()

,Year,LoanCharacteristicsID,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,TotalMonthlyIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
count,89767.0,8.976700e+04,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,...,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.0
mean,2019.0,2.452548e+06,29.874119,89.649270,36172.717569,2681.255339,17.844881,87799.607785,74078.453998,9837.590317,...,6.874230,6.874653,6.874676,3.302583,7.347633,7.352880,7.353103,7.353125,2.002974,1.0
std,0.0,2.694902e+04,15.367330,85.719173,23931.023618,3652.664758,18.600936,30551.702748,11949.849407,7843.469558,...,0.332665,0.331147,0.331088,1.479171,0.621057,0.607281,0.606711,0.606661,0.056662,0.0
min,2019.0,2.406119e+06,1.000000,1.000000,10100.000000,1.000000,0.000000,0.000000,0.000000,791.000000,...,2.000000,5.000000,6.000000,1.000000,1.000000,3.000000,5.000000,6.000000,1.000000,1.0
25%,2019.0,2.429908e+06,18.000000,33.000000,19430.000000,102.020000,5.390500,66270.000000,65829.000000,5615.000000,...,7.000000,7.000000,7.000000,2.000000,7.000000,7.000000,7.000000,7.000000,2.000000,1.0
50%,2019.0,2.452349e+06,27.000000,71.000000,31080.000000,414.090000,11.000000,82019.000000,73493.000000,8333.000000,...,7.000000,7.000000,7.000000,2.000000,7.000000,7.000000,7.000000,7.000000,2.000000,1.0
75%,2019.0,2.474790e+06,42.000000,121.000000,41180.000000,4922.015000,22.546000,104219.000000,79347.000000,11907.000000,...,7.000000,7.000000,7.000000,5.000000,8.000000,8.000000,8.000000,8.000000,2.000000,1.0
max,2019.0,2.521673e+06,66.000000,840.000000,99999.000000,9917.030000,99.822000,250001.000000,133523.000000,449001.000000,...,7.000000,7.000000,7.000000,5.000000,8.000000,8.000000,8.000000,8.000000,3.000000,1.0

In [11]:
df_2019.shape

(89767, 56)

In [12]:
df_2019.dtypes

Year                                 int64
LoanCharacteristicsID                int64
Bank                                object
FIPSStateNumericCode                 int64
FIPSCountyCode                       int64
CoreBasedStatisticalAreaCode         int64
CensusTractIdentifier              float64
CensusTractMinorityRatioPercent    float64
CensusTractMedFamIncomeAmount        int64
LocalAreaMedianIncomeAmount          int64
TotalMonthlyIncomeAmount             int64
HUDMedianIncomeAmount                int64
LoanAcquisitionActualUPBAmt          int64
LTVRatioPercent                    float64
NoteDate                             int64
LoanAcquistionDate                   int64
LoanPurposeType                      int64
ProductCategoryName                  int64
MortgageType                         int64
ScheduledTotalPaymentCount           int64
LoanAmortizationMaxTermMonths        int64
MortgageLoanSellerInstType           int64
BorrowerCount                        int64
BorrowerFirstTimeHomebuyer           int64
Borrower1Race1Type                   int64
Borrower2Race1Type                   int64
Borrower1GenderType                  int64
Borrower2GenderType                  int64
Borrower1AgeAtApplicationYears       int64
Borrower2AgeAtApplicationYears       int64
PropertyUsageType                    int64
PropertyUnitCount                    int64
NoteRatePercent                    float64
NoteAmount                           int64
HousingExpenseRatioPercent         float64
TotalDebtExpenseRatioPercent       float64
Borrower1CreditScoreValue            int64
Borrower2CreditScoreValue            int64
PMICoveragePercent                 float64
EmploymentBorrowerSelfEmployed       int64
PropertyType                        object
IndexSourceType                      int64
MarginRatePercent                    int64
PrepaymentPenaltyExpirationDate     object
Borrower1EthnicityType               int64
Borrower1Race2Type                   int64
Borrower1Race3Type                   int64
Borrower1Race4Type                   int64
Borrower1Race5Type                   int64
Borrower2EthnicityType               int64
Borrower2Race2Type                   int64
Borrower2Race3Type                   int64
Borrower2Race4Type                   int64
Borrower2Race5Type                   int64
HOEPALoanStatusType                  int64
LienPriorityType                     int64
dtype: object

In [16]:
#Verifying Year Column
np.sum([df_2019['Year']!=2019])

0

In [19]:
#Bank's City
df_2019['Bank'].value_counts()

Chicago          22462
Topeka           16093
Des Moines       14468
Cincinnati       11250
Dallas            8069
Indianapolis      5677
Pittsburgh        4458
Boston            2824
San Francisco     2487
New York          1979
Name: Bank, dtype: int64

## FIPSStateNumericCode column

In [30]:
#verifying FIPSStateNumericCode columns (Should have 2 digits)
df_2019['FIPSStateNumericCode'][df_2019['FIPSStateNumericCode']>99]

Series([], Name: FIPSStateNumericCode, dtype: int64)

In [31]:
#Check the columns with 999 value
df_2019['FIPSStateNumericCode'].value_counts()

55    10747
17     6843
39     6748
19     5782
20     5004
6      4910
18     4409
48     4409
31     4403
29     3628
27     3471
8      2734
42     2300
26     2197
25     2077
21     1502
46     1451
36     1377
51     1243
40     1197
12     1085
47      930
34      859
37      839
4       839
16      810
22      754
13      735
5       730
24      623
53      593
41      587
49      577
1       381
9       305
32      297
23      275
35      264
45      237
54      208
44      187
28      177
38      162
30      157
11      151
50      148
33      138
56      125
10       85
15       54
2        17
66        6
Name: FIPSStateNumericCode, dtype: int64

## FIPSCountyCode column

In [25]:
#Verifying FIPSStateNumericCode columns (should have 3 digits)
df_2019[df_2019['FIPSCountyCode']>999]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

In [32]:
df_2019['FIPSCountyCode'].value_counts()

37     2673
25     2623
31     2515
61     2148
49     2067
       ...
347       1
281       1
790       1
277       1
383       1
Name: FIPSCountyCode, Length: 219, dtype: int64

In [33]:
#Check the columns with 999 value
df_2019[df_2019['FIPSCountyCode']==999]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

## CoreBasedStatisticalAreaCode Column

In [28]:
#CoreBasedStatisticalAreaCode should have no more than 5 digits
df_2019[df_2019['CoreBasedStatisticalAreaCode']>99999]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

In [29]:
#Check 
df_2019['CoreBasedStatisticalAreaCode'].value_counts()

99999    9264
16980    3412
17140    3373
33340    2166
28140    2164
         ...
44260       1
15820       1
22840       1
31620       1
24500       1
Name: CoreBasedStatisticalAreaCode, Length: 811, dtype: int64

## CensusTractIdentifier column : The property's Census Tract of Block Numbering Area (BNA)

In [35]:
df_2019['CensusTractIdentifier'].value_counts()

9601.00    533
9603.00    492
9602.00    476
9604.00    470
103.00     422
          ...
1706.01      1
8010.02      1
6442.00      1
323.15       1
4302.01      1
Name: CensusTractIdentifier, Length: 13198, dtype: int64

## CensusTractMinorityRatioPercent column : The percentage of the property's census tract population that is minority.

In [40]:
df_2019['CensusTractMinorityRatioPercent']

0         4.577
1         3.421
2         6.152
3         3.935
4         6.031
          ...
89762    17.119
89763     5.698
89764    13.887
89765     6.373
89766     3.080
Name: CensusTractMinorityRatioPercent, Length: 89767, dtype: float64

In [44]:
df_2019['CensusTractMinorityRatioPercent'].describe()

count    89767.000000
mean        17.844881
std         18.600936
min          0.000000
25%          5.390500
50%         11.000000
75%         22.546000
max         99.822000
Name: CensusTractMinorityRatioPercent, dtype: float64

In [45]:
#Check areas with 0% minority
df_2019[df_2019['CensusTractMinorityRatioPercent']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
13477,2019,2446287,Chicago,55,25,31540,9917.03,0.0,0,87309,...,7,7,7,2,7,7,7,7,2,1
20537,2019,2478655,Chicago,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1
36459,2019,2469015,Cincinnati,4,13,38060,9806.00,0.0,133494,68709,...,6,6,6,2,6,6,6,6,2,1
59677,2019,2406723,Indianapolis,26,147,19820,6470.00,0.0,71471,76739,...,7,7,7,5,8,8,8,8,2,1
60329,2019,2438332,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
60568,2019,2438571,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
61148,2019,2439151,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
62602,2019,2470200,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,2,7,7,7,7,2,1
62704,2019,2470302,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
63490,2019,2520414,Indianapolis,18,79,35860,9603.01,0.0,60759,55741,...,7,7,7,5,8,8,8,8,2,1
64027,2019,2520951,Indianapolis,18,79,35860,9603.01,0.0,60759,55741,...,7,7,7,5,8,8,8,8,2,1
68196,2019,2430843,Pittsburgh,37,19,34820,9901.00,0.0,0,57630,...,7,7,7,2,7,7,7,7,2,1
77634,2019,2436650,Topeka,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1
86849,2019,2489053,Topeka,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1

# CensusTractMedFamIncomeAmount : The property's census tract median family income.

In [42]:
df_2019['CensusTractMedFamIncomeAmount'].describe()

count     89767.000000
mean      87799.607785
std       30551.702748
min           0.000000
25%       66270.000000
50%       82019.000000
75%      104219.000000
max      250001.000000
Name: CensusTractMedFamIncomeAmount, dtype: float64

In [43]:
#Check zero median family income
df_2019[df_2019['CensusTractMedFamIncomeAmount']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
549,2019,2407747,Boston,25,25,14460,711.01,51.052,0,95277,...,7,7,7,5,8,8,8,8,2,1
1122,2019,2422709,Boston,25,25,14460,9813.00,33.676,0,102945,...,7,7,7,2,7,7,7,7,2,1
1735,2019,2443474,Boston,25,25,14460,9813.00,33.676,0,102945,...,7,7,7,5,8,8,8,8,2,1
4177,2019,2409126,Chicago,55,105,27500,15.00,31.083,0,61315,...,7,7,7,5,8,8,8,8,2,1
6723,2019,2425429,Chicago,55,79,33340,1870.00,17.153,0,76163,...,7,7,7,5,8,8,8,8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72352,2019,2459466,San Francisco,6,1,41860,9820.00,35.211,0,109712,...,7,7,7,5,8,8,8,8,2,1
73067,2019,2492088,San Francisco,6,1,41860,4018.00,84.968,0,109712,...,7,7,7,2,7,7,7,7,2,1
75023,2019,2416179,Topeka,6,61,40900,223.00,6.065,0,74384,...,7,7,7,2,7,7,7,7,2,1
82564,2019,2463489,Topeka,31,109,30700,19.00,10.977,0,75378,...,7,7,7,2,7,7,7,7,2,1
85809,2019,2488013,Topeka,25,17,14460,3522.00,37.263,0,102945,...,7,7,7,5,8,8,8,8,2,1

# LocalAreaMedianIncomeAmount : The property's median income for the area based on the most recent decennial census.

In [47]:
#Find the property's LocalAreaMedianIncomeAmount 
df_2019['LocalAreaMedianIncomeAmount'].describe()

count     89767.000000
mean      74078.453998
std       11949.849407
min           0.000000
25%       65829.000000
50%       73493.000000
75%       79347.000000
max      133523.000000
Name: LocalAreaMedianIncomeAmount, dtype: float64

In [48]:
#Check family with zero median income
df_2019[df_2019['LocalAreaMedianIncomeAmount']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
46117,2019,2413890,Des Moines,66,10,99999,9559.00,92.9,0,0,...,7,7,7,5,8,8,8,8,2,1
49180,2019,2434525,Des Moines,66,10,99999,9557.00,92.9,0,0,...,7,7,7,5,8,8,8,8,2,1
49181,2019,2434526,Des Moines,66,10,99999,9540.00,92.9,0,0,...,7,7,7,2,7,7,7,7,2,1
49182,2019,2434527,Des Moines,66,10,99999,9504.01,92.9,0,0,...,7,7,7,5,8,8,8,8,2,1
52221,2019,2455128,Des Moines,66,10,99999,9504.02,92.9,0,0,...,7,7,7,2,7,7,7,7,2,1
55776,2019,2472075,Des Moines,66,10,99999,9540.00,92.9,0,0,...,7,7,7,5,8,8,8,8,2,1

# TotalMonthlyIncomeAmount : The total monthly qualifying income used for underwriting in whole dollars for all borrowers on the loan

In [49]:
df_2019['TotalMonthlyIncomeAmount'].describe()

count     89767.000000
mean       9837.590317
std        7843.469558
min         791.000000
25%        5615.000000
50%        8333.000000
75%       11907.000000
max      449001.000000
Name: TotalMonthlyIncomeAmount, dtype: float64

# HUDMedianIncomeAmount : Current median income for a family of four for the area as established by HUD

In [51]:
df_2019['HUDMedianIncomeAmount'].describe()

count     89767.000000
mean      79036.440362
std       13119.438254
min       38900.000000
25%       69700.000000
50%       78000.000000
75%       86100.000000
max      135500.000000
Name: HUDMedianIncomeAmount, dtype: float64

In [53]:
np.sum(df_2019['HUDMedianIncomeAmount'].isna())

0

# LoanAcquisitionActualUPBAmt : The Amount of unpaid principal balance in whole dollars when acquired by the FHLBank.

In [55]:
df_2019['LoanAcquisitionActualUPBAmt'].describe()

count    8.976700e+04
mean     2.438158e+05
std      1.295660e+05
min      1.280000e+04
25%      1.480000e+05
50%      2.200000e+05
75%      3.162140e+05
max      1.290000e+06
Name: LoanAcquisitionActualUPBAmt, dtype: float64

# LTVRatioPercent : The loan-to-value ratio of the mortgage at time of origination

In [57]:
df_2019['LTVRatioPercent'].describe()

count    89767.000000
mean        74.750979
std         15.130832
min          5.000000
25%         68.000000
50%         80.000000
75%         80.000000
max        112.000000
Name: LTVRatioPercent, dtype: float64

# NoteDate : Year the mortgage was originated.

In [68]:
df_2019['NoteDate'].value_counts()

2019    86139
2018     3404
2017      175
2016       26
2015       15
2014        8
Name: NoteDate, dtype: int64

In [67]:
df_2019['NoteDate']=df_2019['NoteDate'].astype('category')
df_2019['NoteDate'].value_counts()

2019    86139
2018     3404
2017      175
2016       26
2015       15
2014        8
Name: NoteDate, dtype: int64

In [69]:
df_2019['NoteDate'].dtype.name

'category'

# LoanAcquistionDate : Year the mortgage was acquired.

In [61]:
df_2019['LoanAcquistionDate'].value_counts()

2019    89767
Name: LoanAcquistionDate, dtype: int64

In [70]:
df_2019['LoanAcquistionDate'].dtype.name

'int64'

In [72]:
#Convert to categorical
df_2019['LoanAcquistionDate']=df_2019['LoanAcquistionDate'].astype('category')
df_2019['LoanAcquistionDate'].dtype.name

'category'

# LoanPurposeType : Purpose of Loan: 1 = Purchase, 2 = No-Cash Out Refinancing, 3 = Second Mortgage, 4 = New Construction, 5 = Rehabilitation or Home Improvement, 6 = Cash-out Refinancing, 7 = Other|

In [63]:
df_2019['LoanPurposeType'].value_counts()

1    40379
6    26778
2    22610
Name: LoanPurposeType, dtype: int64

In [73]:
#Convert to categorical
df_2019['LoanPurposeType']=df_2019['LoanPurposeType'].astype('category')
df_2019['LoanPurposeType'].dtype.name

'category'

In [82]:
df_2019['LoanPurposeType'].value_counts()

1    40379
6    26778
2    22610
Name: LoanPurposeType, dtype: int64

# ProductCategoryName :Product type of Mortgage: 01=Fixed Rate, 02=ARM, 03=No Longer in Use, 04=GPM/GEM, 05=Reverse Annuity Mortgage, 06=Other, 07-98=Reserved for future use

In [75]:
df_2019['ProductCategoryName'].value_counts()

1    89767
Name: ProductCategoryName, dtype: int64

In [76]:
df_2019['ProductCategoryName'].dtype.name

'int64'

In [80]:
#Converting it to categorical
df_2019['ProductCategoryName']=df_2019['ProductCategoryName'].astype('category')
df_2019['ProductCategoryName'].dtype.name

'category'

# MortgageType : Type of Mortgage and whether the mortgage is guaranteed: 0=Conventional, 1=FHA, 2=VA, 3=USDA Rural Housing-FSA Guaranteed, 4=HECMs, 5=Title1- FHA

In [81]:
df_2019['MortgageType'].value_counts()

0    86451
3     1271
2     1033
1     1012
Name: MortgageType, dtype: int64

In [84]:
df_2019['MortgageType']=df_2019['MortgageType'].astype('category')
df_2019['MortgageType'].dtype.name

'category'

# ScheduledTotalPaymentCount : Term of the Mortgage in Months

In [86]:
df_2019['ScheduledTotalPaymentCount'].value_counts()

360    73564
180     8523
240     6010
300      422
120      303
       ...
297        1
210        1
171        1
299        1
127        1
Name: ScheduledTotalPaymentCount, Length: 108, dtype: int64

In [87]:
df_2019['ScheduledTotalPaymentCount'].describe()

count    89767.000000
mean       333.442256
std         59.921873
min         60.000000
25%        360.000000
50%        360.000000
75%        360.000000
max        360.000000
Name: ScheduledTotalPaymentCount, dtype: float64

# LoanAmortizationMaxTermMonths : For Amortizing Mortgages, term of amortization in months; 998 if non-amortizing loan

In [89]:
df_2019['LoanAmortizationMaxTermMonths'].value_counts()

360    73564
180     8523
240     6010
300      422
120      303
       ...
297        1
210        1
171        1
299        1
127        1
Name: LoanAmortizationMaxTermMonths, Length: 108, dtype: int64

In [90]:
df_2019['LoanAmortizationMaxTermMonths'].describe()

count    89767.000000
mean       333.442256
std         59.921873
min         60.000000
25%        360.000000
50%        360.000000
75%        360.000000
max        360.000000
Name: LoanAmortizationMaxTermMonths, dtype: float64

In [91]:
#Check if both columns have same value
df_2019[df_2019['ScheduledTotalPaymentCount']!=df_2019['LoanAmortizationMaxTermMonths']]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

In [94]:
#So Both columns are same. Hence we can drop one column
df_2019=df_2019.drop('LoanAmortizationMaxTermMonths',axis=1)

# MortgageLoanSellerInstType : Type of Institution from which the FHLBank acquired the mortgage. 01=Insured depository institution, 02=Housing Associate, 03=Insurance Company, 04=NonFederally Insured CU, 05=Non-Depository CDFI,06=Other FHLBank, 09=Other

In [96]:
df_2019['MortgageLoanSellerInstType'].value_counts()

1    89538
9      229
Name: MortgageLoanSellerInstType, dtype: int64

In [97]:
df_2019['MortgageLoanSellerInstType'].dtype.name

'int64'

In [98]:
df_2019['MortgageLoanSellerInstType']=df_2019['MortgageLoanSellerInstType'].astype('category')

In [99]:
df_2019['MortgageLoanSellerInstType'].dtype.name

'category'

# BorrowerCount : Number of Borrowers

In [101]:
df_2019['BorrowerCount'].describe()

count    89767.000000
mean         1.584034
std          0.507500
min          1.000000
25%          1.000000
50%          2.000000
75%          2.000000
max          5.000000
Name: BorrowerCount, dtype: float64

# BorrowerFirstTimeHomebuyer : Numeric code indicating whether borrower

In [103]:
df_2019['BorrowerFirstTimeHomebuyer'].value_counts()

0    57796
1    31971
Name: BorrowerFirstTimeHomebuyer, dtype: int64

In [105]:
df_2019['BorrowerFirstTimeHomebuyer'].dtype.name

'int64'

In [106]:
df_2019['BorrowerFirstTimeHomebuyer']=df_2019['BorrowerFirstTimeHomebuyer'].astype('category')

In [107]:
df_2019['BorrowerFirstTimeHomebuyer'].dtype.name

'category'

# Borrower1Race1Type: Numeric code indicating the race of the Borrower.1=American Indian or Alaska Native, 2=Asian, 3=Black or African American, 4=Native Hawaiian or other Pacific Islander, 5=White, 6=Information not provided by Borrower, 7=Not Applicable (First or primary borrower is an institution, corporation or partnership)

In [109]:
df_2019['Borrower1Race1Type'].value_counts()

5    76982
6     7352
2     3128
3     1677
1      516
4      112
Name: Borrower1Race1Type, dtype: int64

In [110]:
df_2019['Borrower1Race1Type'].dtype.name

'int64'

In [111]:
df_2019['Borrower1Race1Type']=df_2019['Borrower1Race1Type'].astype('category')

In [112]:
df_2019['Borrower1Race1Type'].dtype.name

'category'

# Borrower2Race1Type : Numeric code indicating the race of the Co-Borrower.1=American Indian or Alaska Native, 2=Asian, 3=Black or African American, 4=Native Hawaiian or other Pacific Islander, 5=White, 6=Information not provided by borrower, 7=Not Applicable (First or primary borrower is an institution, corporation or partnership), 8=No Co-Borrower

In [113]:
df_2019['Borrower2Race1Type'].value_counts()

5    44821
8    37965
6     4502
2     1577
3      638
1      199
4       64
7        1
Name: Borrower2Race1Type, dtype: int64

In [114]:
df_2019['Borrower2Race1Type']=df_2019['Borrower2Race1Type'].astype('category')
df_2019['Borrower2Race1Type'].dtype.name

'category'

# Borrower1GenderType : Numeric code indicating the sex of the first or primary borrower. 1=Male, 2=Female, 3=Information not provided by borrower, 4=Not Applicable (First or primary borrower is an institution, corporation or partnership), 6=Borrower selected both male and female

In [115]:
df_2019['Borrower1GenderType'].value_counts()

1    60393
2    25094
3     4217
6       63
Name: Borrower1GenderType, dtype: int64

In [116]:
df_2019[df_2019['Borrower1GenderType']==6]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
435,2019,2407633,Boston,25,25,14460,1201.04,35.131,96786,98431,...,7,7,7,2,7,7,7,7,2,1
475,2019,2407673,Boston,25,21,14460,4132.00,12.963,99695,98431,...,7,7,7,2,7,7,7,7,2,1
688,2019,2422275,Boston,23,5,38860,42.00,3.535,122076,80629,...,7,7,7,2,7,7,7,7,2,1
1093,2019,2422680,Boston,25,5,39300,6311.00,12.035,76053,79347,...,7,7,7,2,7,7,7,7,2,1
1800,2019,2443539,Boston,25,21,14460,4103.00,8.275,125298,102945,...,7,7,7,2,7,7,7,7,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86655,2019,2488859,Topeka,8,35,19740,141.25,10.779,178125,88102,...,7,7,7,2,7,7,7,7,2,1
86740,2019,2488944,Topeka,8,95,99999,9676.00,27.366,64767,64651,...,7,7,7,5,8,8,8,8,2,1
87400,2019,2489604,Topeka,20,173,48620,55.01,10.655,58618,68171,...,7,7,7,5,8,8,8,8,2,1
87783,2019,2489987,Topeka,31,55,36540,75.13,7.829,153463,79131,...,7,7,7,2,7,7,7,7,2,1
88122,2019,2490326,Topeka,20,173,48620,21.00,13.080,78750,68171,...,7,7,7,5,8,8,8,8,2,1

In [117]:
df_2019['Borrower1GenderType']=df_2019['Borrower1GenderType'].astype('category')
df_2019['Borrower1GenderType'].dtype.name

'category'

# Borrower2GenderType : Numeric code indicating the sex of the co-borrower. 1=Male, 2=Female, 3=Information not provided by borrower, 4=No Co-Borrower, 5=Not Applicable (First or primary borrower is an institution, corporation or partnership), 6=Borrower selected both male and female

In [118]:
df_2019['Borrower2GenderType'].value_counts()

2    38527
4    37965
1    10569
3     2647
6       59
Name: Borrower2GenderType, dtype: int64

In [119]:
df_2019['Borrower2GenderType']=df_2019['Borrower2GenderType'].astype('category')

In [120]:
df_2019['Borrower2GenderType'].dtype.name

'category'

# Borrower1AgeAtApplicationYears : Age in years of the borrower at time application submitted; 999=Age not provided, 998=Not Applicable (Borrower might be a legal entity like an LLC)

In [122]:
df_2019['Borrower1AgeAtApplicationYears'].describe()

count    89767.000000
mean        44.370392
std         13.328550
min         18.000000
25%         34.000000
50%         42.000000
75%         54.000000
max         98.000000
Name: Borrower1AgeAtApplicationYears, dtype: float64

# Borrower2AgeAtApplicationYears : Age in years of the borrower at time application submitted; 999=Age not provided, 998=No CoBorrower

In [124]:
df_2019['Borrower2AgeAtApplicationYears'].describe()

count    89767.000000
mean       447.436207
std        471.482475
min         18.000000
25%         39.000000
50%         61.000000
75%        998.000000
max        999.000000
Name: Borrower2AgeAtApplicationYears, dtype: float64

# PropertyUsageType : Numeric code indicating whether property is owner occupied, second home or a rental investment property. 1=Principal Residence, 2=Second Home, 3=Investment Property

In [125]:
df_2019['PropertyUsageType'].value_counts()

1    87245
2     2522
Name: PropertyUsageType, dtype: int64

In [126]:
df_2019['PropertyUsageType']=df_2019['PropertyUsageType'].astype('category')

In [127]:
df_2019['PropertyUsageType'].dtype.name

'category'

# PropertyUnitCount : Total number of units in the property

In [130]:
df_2019['PropertyUnitCount'].value_counts()

1    88889
2      748
3       95
4       35
Name: PropertyUnitCount, dtype: int64

In [131]:
df_2019['PropertyUnitCount']=df_2019['PropertyUnitCount'].astype('category')

# NoteRatePercent : Interest rate on the mortgage at acquisition

In [132]:
df_2019['NoteRatePercent'].describe()

count    89767.000000
mean         3.965140
std          0.511299
min          2.500000
25%          3.625000
50%          3.875000
75%          4.300000
max          6.250000
Name: NoteRatePercent, dtype: float64

# NoteAmount : Mortgage balance at origination

In [133]:
df_2019['NoteAmount'].describe()

count    8.976700e+04
mean     2.440618e+05
std      1.296468e+05
min      1.280000e+04
25%      1.480000e+05
50%      2.200000e+05
75%      3.168485e+05
max      1.290000e+06
Name: NoteAmount, dtype: float64

# HousingExpenseRatioPercent : Ratio of mortgage principal and interest and housing expenses to total borrower income.

In [134]:
df_2019['HousingExpenseRatioPercent'].describe()

count    89767.000000
mean        20.695734
std          8.956895
min          0.000000
25%         14.760000
50%         19.510000
75%         25.590000
max        999.000000
Name: HousingExpenseRatioPercent, dtype: float64

# TotalDebtExpenseRatioPercent : Ratio of all debt payments to total borrower income.

In [135]:
df_2019['TotalDebtExpenseRatioPercent'].describe()

count    89767.000000
mean        31.548950
std          9.561842
min          0.270000
25%         24.410000
50%         31.820000
75%         39.050000
max         78.040000
Name: TotalDebtExpenseRatioPercent, dtype: float64

# Borrower1CreditScoreValue : Credit Scores are separated into a range: 1=<620, 2=620 < 660, 3=660 < 700, 4=700 < 760, 5=760 or greater, 9 = Missing or Not Applicable

In [136]:
df_2019['Borrower1CreditScoreValue'].value_counts()

5    49761
4    27763
3     9072
2     2921
9      155
1       95
Name: Borrower1CreditScoreValue, dtype: int64

In [137]:
df_2019['Borrower1CreditScoreValue']=df_2019['Borrower1CreditScoreValue'].astype('category')

In [138]:
df_2019['Borrower1CreditScoreValue'].dtype.name

'category'

# Borrower2CreditScoreValue : Credit Scores are separated into a range: 1=<620, 2=620 < 660, 3=660 < 700, 4=700 < 760, 5=760 or greater, 9 = Missing, Not Applicable or No-CoBorrower

In [139]:
df_2019['Borrower2CreditScoreValue'].value_counts()

9    38124
5    30887
4    15196
3     4202
2     1323
1       35
Name: Borrower2CreditScoreValue, dtype: int64

In [140]:
df_2019['Borrower2CreditScoreValue']=df_2019['Borrower2CreditScoreValue'].astype('category')

# PMICoveragePercent : Percent of mortgage balance at origination covered by loan level PMI

In [141]:
df_2019['PMICoveragePercent'].describe()

count    89767.000000
mean         4.529368
std         10.000697
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         78.000000
Name: PMICoveragePercent, dtype: float64

# EmploymentBorrowerSelfEmployed : Numeric code indicating whether the borrower is selfemployed. 0=No, 1=Yes

In [143]:
df_2019['EmploymentBorrowerSelfEmployed'].value_counts()

0    55125
1    34642
Name: EmploymentBorrowerSelfEmployed, dtype: int64

In [144]:
df_2019['EmploymentBorrowerSelfEmployed']=df_2019['EmploymentBorrowerSelfEmployed'].astype('category')

# PropertyType : PT01=Single family detached; PT02=Deminimus PUD;PT03=Single family attached; PT04=Two family;PT05=Townhouse; PT06=Low-rise condo; PT07=PUD;PT08=Duplex; PT09=Three family; PT10=Four family;PT11=Hi-res condo; PT12=Manufactured home notchattel; PT13=Manufactured home chattel; PT14=Five plus multifamily

In [145]:
df_2019['PropertyType'].value_counts()

PT01    67614
PT07    15800
PT06     4773
PT04      739
PT03      380
PT12      152
PT05      113
PT09       95
PT11       50
PT10       35
PT08        9
PT02        7
Name: PropertyType, dtype: int64

In [146]:
df_2019['PropertyType']=df_2019['PropertyType'].astype('category')

In [147]:
df_2019['PropertyType'].dtype.name

'category'

# IndexSourceType: 01=11th District cost of funds; 02=Other cost of funds; 03=LIBOR; 04=1 year constant Treasury Rate; 99=Not an ARM

In [148]:
def convert_to_cat(col_name,df):
    df[col_name]=df[col_name].astype('category')
    return df

In [149]:
df_2019['IndexSourceType'].value_counts()

99    89767
Name: IndexSourceType, dtype: int64

In [150]:
df_2019=convert_to_cat('IndexSourceType',df_2019)

In [151]:
df_2019['IndexSourceType'].dtype.name

'category'

# MarginRatePercent : Margin added to the index used for the calculation of the interest on an ARM. 9999=Not Applicable|

In [153]:
df_2019['MarginRatePercent'].describe()

count    89767.000000
mean      9366.648211
std       2433.738427
min          0.000000
25%       9999.000000
50%       9999.000000
75%       9999.000000
max       9999.000000
Name: MarginRatePercent, dtype: float64

In [155]:
df_2019['MarginRatePercent'][df_2019['MarginRatePercent']!=9999]

59073    0
59074    0
59075    0
59076    0
59077    0
        ..
64745    0
64746    0
64747    0
64748    0
64749    0
Name: MarginRatePercent, Length: 5677, dtype: int64

# PrepaymentPenaltyExpirationDate : Date when prepayment penalty ends; report 9999-12-31 if not applicable

In [157]:
df_2019['PrepaymentPenaltyExpirationDate'].value_counts()

9999-12-31    89767
Name: PrepaymentPenaltyExpirationDate, dtype: int64

In [159]:
#We can drop this columns since all the values are NA
df_2019=df_2019.drop('PrepaymentPenaltyExpirationDate',axis=1)

In [165]:
#Convert race and ethencities to category
to_cat=['Borrower1EthnicityType','Borrower1Race2Type','Borrower1Race3Type','Borrower1Race4Type','Borrower1Race5Type','Borrower2EthnicityType','Borrower2Race2Type','Borrower2Race3Type','Borrower2Race4Type','Borrower2Race5Type','HOEPALoanStatusType','LienPriorityType']

In [166]:
for col in to_cat:
    df_2019=convert_to_cat(col,df_2019)
    print(f'{col}:{df_2019[col].dtype.name}')

Borrower1EthnicityType:category
Borrower1Race2Type:category
Borrower1Race3Type:category
Borrower1Race4Type:category
Borrower1Race5Type:category
Borrower2EthnicityType:category
Borrower2Race2Type:category
Borrower2Race3Type:category
Borrower2Race4Type:category
Borrower2Race5Type:category
HOEPALoanStatusType:category
LienPriorityType:category