# Introduction
In this notebook , we are going to do following steps. 
- Drop irrelevant columns.
- Create dummy or indicator features for categorical variables
- Standardize the magnitude of numeric features using a scaler
- Split your data into testing and training datasets

In [1]:
#Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
#Load the data
df_2019=pd.read_csv('Data/loan_2019_feature.csv')

In [3]:
#Exploring the data
df_2019.head().transpose()

,0,1,2,3,4
Year,2019,2019,2019,2019,2019
LoanCharacteristicsID,2407198,2407199,2407200,2407201,2407202
Bank,Boston,Boston,Boston,Boston,Boston
FIPSStateNumericCode,50,50,50,50,23
FIPSCountyCode,7,7,15,17,31
CoreBasedStatisticalAreaCode,15540,15540,99999,30100,38860
CensusTractIdentifier,34,29,9532,9594,254
CensusTractMinorityRatioPercent,4.577,3.421,6.152,3.935,6.031
CensusTractMedFamIncomeAmount,132474,100795,49625,62643,87679
LocalAreaMedianIncomeAmount,84290,84290,67566,67105,76445
TotalMonthlyIncomeAmount,7308,7416,5143,8866,15240
HUDMedianIncomeAmount,93000,93000,71900,71900,90100
LoanAcquisitionActualUPBAmt,319113,248005,211105,210000,233200
LTVRatioPercent,99,97,99,100,80
NoteDate,2018,2019,2018,2018,2018
LoanAcquistionDate,2019,2019,2019,2019,2019
LoanPurposeType,1,1,1,1,1
ProductCategoryName,1,1,1,1,1
MortgageType,1,1,1,2,0
ScheduledTotalPaymentCount,360,360,360,360,180
MortgageLoanSellerInstType,1,1,1,1,1
BorrowerCount,1,2,2,2,1
BorrowerFirstTimeHomebuyer,1,0,0,0,1
Borrower1Race1Type,White,White,White,White,White
Borrower2Race1Type,No Co-Borrower,White,White,White,No Co-Borrower
Borrower1GenderType,2,2,1,1,2
Borrower2GenderType,4,1,2,2,4
Borrower1AgeAtApplicationYears,34,36,34,42,66
Borrower2AgeAtApplicationYears,998,33,36,43,998
PropertyUsageType,1,1,1,1,1
PropertyUnitCount,1,1,1,1,1
NoteRatePercent,4,4.25,4.25,4.875,4.625
NoteAmount,319113,248005,211105,210000,233200
HousingExpenseRatioPercent,30.17,25.42,28.42,17.46,14.85
TotalDebtExpenseRatioPercent,40.46,45.67,46.23,36.88,34.95
Borrower1CreditScoreValue,1,3,2,4,5
Borrower2CreditScoreValue,9,2,3,2,9
PMICoveragePercent,0,0,0,0,0
EmploymentBorrowerSelfEmployed,1,1,1,1,1
PropertyType,PT01,PT01,PT01,PT01,PT01
Borrower1EthnicityType,2,2,2,2,2
Borrower1Race2Type,7,7,7,7,7
Borrower1Race3Type,7,7,7,7,7
Borrower1Race4Type,7,7,7,7,7
Borrower1Race5Type,7,7,7,7,7
Borrower2EthnicityType,5,2,2,2,5
Borrower2Race2Type,8,7,7,7,8
Borrower2Race3Type,8,7,7,7,8
Borrower2Race4Type,8,7,7,7,8
Borrower2Race5Type,8,7,7,7,8
HOEPALoanStatusType,2,2,2,2,2
LienPriorityType,1,1,1,1,1
Borrower1Race1Type_others,White,White,White,White,White
TotalYearlyIncomeAmount,87696,88992,61716,106392,182880
Diff_median_yearly_income,3406,4702,-5850,39287,106435

In [4]:
#Load the data
col_dtype=pd.read_csv('Data/col_dtype.csv')

In [5]:
col_dtype

                        Column_Name   Type
0                              Year   drop
1             LoanCharacteristicsID   drop
2                              Bank    cat
3              FIPSStateNumericCode  no_cn
4                    FIPSCountyCode  no_cn
5      CoreBasedStatisticalAreaCode  no_cn
6             CensusTractIdentifier  no_cn
7   CensusTractMinorityRatioPercent    num
8     CensusTractMedFamIncomeAmount    num
9       LocalAreaMedianIncomeAmount    num
10         TotalMonthlyIncomeAmount    num
11            HUDMedianIncomeAmount    num
12      LoanAcquisitionActualUPBAmt    num
13                  LTVRatioPercent    num
14                         NoteDate    cat
15               LoanAcquistionDate    cat
16                  LoanPurposeType    cat
17              ProductCategoryName    cat
18                     MortgageType    cat
19       ScheduledTotalPaymentCount    num
20    LoanAmortizationMaxTermMonths    num
21       MortgageLoanSellerInstType    cat
22                    BorrowerCount    cat
23       BorrowerFirstTimeHomebuyer    cat
24               Borrower1Race1Type    cat
25               Borrower2Race1Type   drop
26              Borrower1GenderType    cat
27              Borrower2GenderType    cat
28   Borrower1AgeAtApplicationYears    num
29   Borrower2AgeAtApplicationYears    num
30                PropertyUsageType    cat
31                PropertyUnitCount    num
32                  NoteRatePercent    num
33                       NoteAmount    num
34       HousingExpenseRatioPercent    num
35     TotalDebtExpenseRatioPercent    num
36        Borrower1CreditScoreValue    cat
37        Borrower2CreditScoreValue    cat
38               PMICoveragePercent    num
39   EmploymentBorrowerSelfEmployed    cat
40                     PropertyType    cat
41           Borrower1EthnicityType    cat
42               Borrower1Race2Type   drop
43               Borrower1Race3Type   drop
44               Borrower1Race4Type   drop
45               Borrower1Race5Type   drop
46           Borrower2EthnicityType   drop
47               Borrower2Race2Type   drop
48               Borrower2Race3Type   drop
49               Borrower2Race4Type   drop
50               Borrower2Race5Type   drop
51              HOEPALoanStatusType    cat
52                 LienPriorityType    cat
53        Borrower1Race1Type_others   drop

In [6]:
#Function to convert col into categorical
def convert_to_cat(df_2019,col):
    df_2019[col]=df_2019[col].astype('category')
    return df_2019

In [7]:
#Drop rows with No race info.
df_2019=df_2019[df_2019["Borrower1Race1Type"]!='No Information']
df_2019.shape

(82415, 55)

In [8]:
df_2019_dumy=df_2019.copy()
for i in range(col_dtype.shape[0]):
    col=col_dtype.iloc[i,:].Column_Name
    if col_dtype.iloc[i,:].Type == 'cat':
        print(col)
        print(df_2019[col].unique())
    #elif col_dtype.iloc[i,:].Type == 'drop':

Bank
['Boston' 'Chicago' 'Cincinnati' 'Dallas' 'Des Moines' 'Indianapolis'
 'New York' 'Pittsburgh' 'San Francisco' 'Topeka']
NoteDate
[2018 2019 2017 2016 2014 2015]
LoanAcquistionDate
[2019]
LoanPurposeType
[1 6 2]
ProductCategoryName
[1]
MortgageType
[1 2 0 3]
MortgageLoanSellerInstType
[1 9]
BorrowerCount
[1 2 3 4 5]
BorrowerFirstTimeHomebuyer
[1 0]
Borrower1Race1Type
['White' 'Black' 'Asian' 'Native Hawaiian' 'American Indian']
Borrower1GenderType
[2 1 6 3]
Borrower2GenderType
[4 1 2 3 6]
PropertyUsageType
[1 2]
Borrower1CreditScoreValue
[1 3 2 4 5 9]
Borrower2CreditScoreValue
[9 2 3 4 5 1]
EmploymentBorrowerSelfEmployed
[1 0]
PropertyType
['PT01' 'PT06' 'PT04' 'PT07' 'PT09' 'PT12' 'PT10' 'PT03' 'PT05' 'PT02'
 'PT08' 'PT11']
Borrower1EthnicityType
[2 1 3 4]
HOEPALoanStatusType
[2 3 1]
LienPriorityType
[1]

In [9]:
#Convert Categorical variables to dummy variable
df_2019_dumm=df_2019.copy()
for i in range(col_dtype.shape[0]):
    col=col_dtype.iloc[i,:].Column_Name
    if col_dtype.iloc[i,:].Type == 'cat' and col_dtype.iloc[i,:].Column_Name != "Borrower1Race1Type" :
        df_2019_dumm=convert_to_cat(df_2019_dumm,col)
        just_dummies = pd.get_dummies(df_2019_dumm[col])
        df_2019_dumm = pd.concat([df_2019_dumm, just_dummies], axis=1) 
        df_2019_dumm.drop([col], inplace=True, axis=1)
    elif col_dtype.iloc[i,:].Type == 'drop':
        #col=col_dtype.iloc[i,:].Column_Name
        df_2019_dumm.drop([col], inplace=True, axis=1)

In [10]:
df_2019_dumm.T

,0,1,2,3,4,5,6,7,8,9,...,89757,89758,89759,89760,89761,89762,89763,89764,89765,89766
FIPSStateNumericCode,50,50,50,50,23,23,23,25,25,25,...,8,8,8,8,31,31,31,31,31,31
FIPSCountyCode,7,7,15,17,31,31,31,17,21,23,...,13,69,59,123,33,111,111,13,111,111
CoreBasedStatisticalAreaCode,15540,15540,99999,30100,38860,38860,38860,14460,14460,14460,...,14500,22660,19740,24540,99999,35820,35820,99999,35820,35820
CensusTractIdentifier,34,29,9532,9594,254,245,51,3399,4226,5051.01,...,132.08,28.02,98.37,20.05,9548,9599,9606,9512,9598,9597
CensusTractMinorityRatioPercent,4.577,3.421,6.152,3.935,6.031,2.885,3.282,23.883,7.229,5.535,...,15.256,14.315,6.836,22.816,4.72,17.119,5.698,13.887,6.373,3.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# Train Test Split

In [11]:
y=df_2019_dumm["Borrower1Race1Type"]
X=df_2019_dumm.loc[:, df_2019_dumm.columns != 'Borrower1Race1Type']
X.head()
list(X.columns)

['FIPSStateNumericCode',
 'FIPSCountyCode',
 'CoreBasedStatisticalAreaCode',
 'CensusTractIdentifier',
 'CensusTractMinorityRatioPercent',
 'CensusTractMedFamIncomeAmount',
 'LocalAreaMedianIncomeAmount',
 'TotalMonthlyIncomeAmount',
 'HUDMedianIncomeAmount',
 'LoanAcquisitionActualUPBAmt',
 'LTVRatioPercent',
 'ScheduledTotalPaymentCount',
 'Borrower1AgeAtApplicationYears',
 'Borrower2AgeAtApplicationYears',
 'PropertyUnitCount',
 'NoteRatePercent',
 'NoteAmount',
 'HousingExpenseRatioPercent',
 'TotalDebtExpenseRatioPercent',
 'PMICoveragePercent',
 'TotalYearlyIncomeAmount',
 'Diff_median_yearly_income',
 'Boston',
 'Chicago',
 'Cincinnati',
 'Dallas',
 'Des Moines',
 'Indianapolis',
 'New York',
 'Pittsburgh',
 'San Francisco',
 'Topeka',
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2019,
 1,
 2,
 6,
 1,
 0,
 1,
 2,
 3,
 1,
 9,
 1,
 2,
 3,
 4,
 5,
 0,
 1,
 1,
 2,
 3,
 6,
 1,
 2,
 3,
 4,
 6,
 1,
 2,
 1,
 2,
 3,
 4,
 5,
 9,
 1,
 2,
 3,
 4,
 5,
 9,
 0,
 1,
 'PT01',
 'PT02',
 'PT03',
 'PT04',
 'PT05',
 'PT06',
 'PT07',
 'PT08',
 'PT09',
 'PT10',
 'PT11',
 'PT12',
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 1]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

# Standarization

In [13]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)

In [14]:
X_train_scaled

array([[-0.79299117, -0.6033305 , -0.63256836, ...,  0.0537407 ,
        -0.05343707,  0.        ],
       [-0.07207748,  1.178339  , -0.59309736, ...,  0.0537407 ,
        -0.05343707,  0.        ],
       [-0.66191596,  1.0098027 ,  0.49728909, ...,  0.0537407 ,
        -0.05343707,  0.        ],
       ...,
       [ 0.64883621,  0.50419379,  0.39532234, ...,  0.0537407 ,
        -0.05343707,  0.        ],
       [-0.33422791, -0.7718668 , -0.90722076, ...,  0.0537407 ,
        -0.05343707,  0.        ],
       [-1.57944247, -0.91632649,  0.21934745, ...,  0.0537407 ,
        -0.05343707,  0.        ]])

In [15]:
#Scale test data 
X_test_scaled = scaler.transform(X_test)

In [18]:
X_test_scaled.shape

(20604, 101)