# Data Wrangling

# Changes made (July 20,2021) :

1.Used Transpose

2.Added Descriptions of the features at the start.

3.Removed the Duplicate use of Describe

4.Checked and corrected the median family income. Add comments on the columns. 

5.Added textual Commentary

This will be removed after your review

# Introduction

We are going to check each columns according to its description and verify if the data in the columns satisfy the constraints as mentioned in the descriptions. We are also going to check null values. There are few columns present as integers but they are categorical so we are going to convert these into categorical. Apart from these we are going to perform few sanity test on each column according to its description and verify if values satisfy this constraints.

## Import relevant libraries

In [2]:
#Load packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 2019 data

## Overview of Columns and their descriptions

Load the columns and its meaning.

In [3]:
#Load the columns and their description
col_des=pd.read_csv('Data/col_des_2019.csv')
col_des

,Column Names,Description
0,Year,Year Loan Was Reported
1,LoanCharacteristicsID,Unique Record ID (not actual loan number)
2,Bank,Name of Federal Home Loan Bank District
3,FIPSStateNumericCode,2 Digit FIPS State Code
4,FIPSCountyCode,3 Digit FIPS County Code
5,CoreBasedStatisticalAreaCode,The Property's Five Digit numeric CBSA; 99999 ...
6,CensusTractIdentifier,The property's Census Tract of Block Numbering...
7,CensusTractMinorityRatioPercent,The percentage of the property's census tract ...
8,CensusTractMedFamIncomeAmount,The property's census tract median family income.
9,LocalAreaMedianIncomeAmount,The property's median income for the area base...
10,TotalMonthlyIncomeAmount,The total monthly qualifying income used for u...
11,HUDMedianIncomeAmount,Current median income for a family of four for...
12,LoanAcquisitionActualUPBAmt,The Amount of unpaid principal balance in whol...
13,LTVRatioPercent,The loan-to-value ratio of the mortgage at tim...
14,NoteDate,Year the mortgage was originated.
15,LoanAcquistionDate,Year the mortgage was acquired.
16,LoanPurposeType,"Purpose of Loan: 1 = Purchase, 2 = No-Cash Out..."
17,ProductCategoryName,"Product type of Mortgage: 01=Fixed Rate, 02=AR..."
18,MortgageType,Type of Mortgage and whether the mortgage is g...
19,ScheduledTotalPaymentCount,Term of the Mortgage in Months
20,LoanAmortizationMaxTermMonths,"For Amortizing Mortgages, term of amortization..."
21,MortgageLoanSellerInstType,Type of Institution from which the FHLBank acq...
22,BorrowerCount,Number of Borrowers
23,BorrowerFirstTimeHomebuyer,Numeric code indicating whether borrower
24,Borrower1Race1Type,Numeric code indicating the race of the Borrow...
25,Borrower2Race1Type,Numeric code indicating the race of the Co-Bor...
26,Borrower1GenderType,Numeric code indicating the sex of the first o...
27,Borrower2GenderType,Numeric code indicating the sex of the co-borr...
28,Borrower1AgeAtApplicationYears,Age in years of the borrower at time applicati...
29,Borrower2AgeAtApplicationYears,Age in years of the borrower at time applicati...
30,PropertyUsageType,Numeric code indicating whether property is ow...
31,PropertyUnitCount,Total number of units in the property
32,NoteRatePercent,Interest rate on the mortgage at acquisition
33,NoteAmount,Mortgage balance at origination
34,HousingExpenseRatioPercent,Ratio of mortgage principal and interest and h...
35,TotalDebtExpenseRatioPercent,Ratio of all debt payments to total borrower i...
36,Borrower1CreditScoreValue,Credit Scores are separated into a range: 1=< ...
37,Borrower2CreditScoreValue,Credit Scores are separated into a range: 1=< ...
38,PMICoveragePercent,Percent of mortgage balance at origination cov...
39,EmploymentBorrowerSelfEmployed,Numeric code indicating whether the borrower ...
40,PropertyType,PT01=Single family detached; PT02=Deminimus PU...
41,IndexSourceType,01=11th District cost of funds; 02=Other cost ...
42,MarginRatePercent,Margin added to the index used for the calcula...
43,PrepaymentPenaltyExpirationDate,Date when prepayment penalty ends; report 9999...
44,Borrower1EthnicityType,1=Hispanic or Latino; 2=Not Hispanic or Latino...
45,Borrower1Race2Type,1=American Indian or Alaska Native; 2=Asian; 3...
46,Borrower1Race3Type,1=American Indian or Alaska Native; 2=Asian; 3...
47,Borrower1Race4Type,1=American Indian or Alaska Native; 2=Asian; 3...
48,Borrower1Race5Type,1=American Indian or Alaska Native; 2=Asian; 3...
49,Borrower2EthnicityType,1=Hispanic or Latino; 2=Not Hispanic or Latino...
50,Borrower2Race2Type,1=American Indian or Alaska Native; 2=Asian; 3...
51,Borrower2Race3Type,1=American Indian or Alaska Native; 2=Asian; 3...
52,Borrower2Race4Type,1=American Indian or Alaska Native; 2=Asian; 3...
53,Borrower2Race5Type,1=American Indian or Alaska Native; 2=Asian; 3...
54,HOEPALoanStatusType,1=HOEPA: High-Cost Mortgage; 2=HOEPA: Not a Hi...
55,LienPriorityType,1=Secured by first lien; 2=Secured by a subord...

**Load the data and apply some functions to get overview of the data**

In [4]:
#Load the data
df_2019=pd.read_csv('Data/2019_data.csv')

In [5]:
#View the header
df_2019.head().T

,0,1,2,3,4
Year,2019,2019,2019,2019,2019
LoanCharacteristicsID,2407198,2407199,2407200,2407201,2407202
Bank,Boston,Boston,Boston,Boston,Boston
FIPSStateNumericCode,50,50,50,50,23
FIPSCountyCode,7,7,15,17,31
CoreBasedStatisticalAreaCode,15540,15540,99999,30100,38860
CensusTractIdentifier,34,29,9532,9594,254
CensusTractMinorityRatioPercent,4.577,3.421,6.152,3.935,6.031
CensusTractMedFamIncomeAmount,132474,100795,49625,62643,87679
LocalAreaMedianIncomeAmount,84290,84290,67566,67105,76445
TotalMonthlyIncomeAmount,7308,7416,5143,8866,15240
HUDMedianIncomeAmount,93000,93000,71900,71900,90100
LoanAcquisitionActualUPBAmt,319113,248005,211105,210000,233200
LTVRatioPercent,99,97,99,100,80
NoteDate,2018,2019,2018,2018,2018
LoanAcquistionDate,2019,2019,2019,2019,2019
LoanPurposeType,1,1,1,1,1
ProductCategoryName,1,1,1,1,1
MortgageType,1,1,1,2,0
ScheduledTotalPaymentCount,360,360,360,360,180
LoanAmortizationMaxTermMonths,360,360,360,360,180
MortgageLoanSellerInstType,1,1,1,1,1
BorrowerCount,1,2,2,2,1
BorrowerFirstTimeHomebuyer,1,0,0,0,1
Borrower1Race1Type,5,5,5,5,5
Borrower2Race1Type,8,5,5,5,8
Borrower1GenderType,2,2,1,1,2
Borrower2GenderType,4,1,2,2,4
Borrower1AgeAtApplicationYears,34,36,34,42,66
Borrower2AgeAtApplicationYears,998,33,36,43,998
PropertyUsageType,1,1,1,1,1
PropertyUnitCount,1,1,1,1,1
NoteRatePercent,4,4.25,4.25,4.875,4.625
NoteAmount,319113,248005,211105,210000,233200
HousingExpenseRatioPercent,30.17,25.42,28.42,17.46,14.85
TotalDebtExpenseRatioPercent,40.46,45.67,46.23,36.88,34.95
Borrower1CreditScoreValue,1,3,2,4,5
Borrower2CreditScoreValue,9,2,3,2,9
PMICoveragePercent,0,0,0,0,0
EmploymentBorrowerSelfEmployed,1,1,1,1,1
PropertyType,PT01,PT01,PT01,PT01,PT01
IndexSourceType,99,99,99,99,99
MarginRatePercent,9999,9999,9999,9999,9999
PrepaymentPenaltyExpirationDate,12/31/9999,12/31/9999,12/31/9999,12/31/9999,12/31/9999
Borrower1EthnicityType,2,2,2,2,2
Borrower1Race2Type,7,7,7,7,7
Borrower1Race3Type,7,7,7,7,7
Borrower1Race4Type,7,7,7,7,7
Borrower1Race5Type,7,7,7,7,7
Borrower2EthnicityType,5,2,2,2,5
Borrower2Race2Type,8,7,7,7,8
Borrower2Race3Type,8,7,7,7,8
Borrower2Race4Type,8,7,7,7,8
Borrower2Race5Type,8,7,7,7,8
HOEPALoanStatusType,2,2,2,2,2
LienPriorityType,1,1,1,1,1

In [6]:
#View Statiscal Summary of the Columns
df_2019.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,89767.0,2.019000e+03,0.000000,2019.00,2.019000e+03,2019.000,2019.000,2019.000
LoanCharacteristicsID,89767.0,2.452548e+06,26949.017034,2406119.00,2.429908e+06,2452349.000,2474790.500,2521673.000
FIPSStateNumericCode,89767.0,2.987412e+01,15.367330,1.00,1.800000e+01,27.000,42.000,66.000
FIPSCountyCode,89767.0,8.964927e+01,85.719173,1.00,3.300000e+01,71.000,121.000,840.000
CoreBasedStatisticalAreaCode,89767.0,3.617272e+04,23931.023618,10100.00,1.943000e+04,31080.000,41180.000,99999.000
CensusTractIdentifier,89767.0,2.681255e+03,3652.664758,1.00,1.020200e+02,414.090,4922.015,9917.030
CensusTractMinorityRatioPercent,89767.0,1.784488e+01,18.600936,0.00,5.390500e+00,11.000,22.546,99.822
CensusTractMedFamIncomeAmount,89767.0,8.779961e+04,30551.702748,0.00,6.627000e+04,82019.000,104219.000,250001.000
LocalAreaMedianIncomeAmount,89767.0,7.407845e+04,11949.849407,0.00,6.582900e+04,73493.000,79347.000,133523.000
TotalMonthlyIncomeAmount,89767.0,9.837590e+03,7843.469558,791.00,5.615000e+03,8333.000,11907.000,449001.000
HUDMedianIncomeAmount,89767.0,7.903644e+04,13119.438254,38900.00,6.970000e+04,78000.000,86100.000,135500.000
LoanAcquisitionActualUPBAmt,89767.0,2.438158e+05,129566.034695,12800.00,1.480000e+05,220000.000,316214.000,1290000.000
LTVRatioPercent,89767.0,7.475098e+01,15.130832,5.00,6.800000e+01,80.000,80.000,112.000
NoteDate,89767.0,2.018956e+03,0.226514,2014.00,2.019000e+03,2019.000,2019.000,2019.000
LoanAcquistionDate,89767.0,2.019000e+03,0.000000,2019.00,2.019000e+03,2019.000,2019.000,2019.000
LoanPurposeType,89767.0,2.743402e+00,2.161045,1.00,1.000000e+00,2.000,6.000,6.000
ProductCategoryName,89767.0,1.000000e+00,0.000000,1.00,1.000000e+00,1.000,1.000,1.000
MortgageType,89767.0,7.676540e-02,0.422898,0.00,0.000000e+00,0.000,0.000,3.000
ScheduledTotalPaymentCount,89767.0,3.334423e+02,59.921873,60.00,3.600000e+02,360.000,360.000,360.000
LoanAmortizationMaxTermMonths,89767.0,3.334423e+02,59.921873,60.00,3.600000e+02,360.000,360.000,360.000
MortgageLoanSellerInstType,89767.0,1.020408e+00,0.403550,1.00,1.000000e+00,1.000,1.000,9.000
BorrowerCount,89767.0,1.584034e+00,0.507500,1.00,1.000000e+00,2.000,2.000,5.000
BorrowerFirstTimeHomebuyer,89767.0,3.561554e-01,0.478865,0.00,0.000000e+00,0.000,1.000,1.000
Borrower1Race1Type,89767.0,4.915760e+00,0.745901,1.00,5.000000e+00,5.000,5.000,6.000
Borrower2Race1Type,89767.0,6.242461e+00,1.592354,1.00,5.000000e+00,5.000,8.000,8.000
Borrower1GenderType,89767.0,1.377009e+00,0.585549,1.00,1.000000e+00,1.000,2.000,6.000
Borrower2GenderType,89767.0,2.760235e+00,1.127613,1.00,2.000000e+00,2.000,4.000,6.000
Borrower1AgeAtApplicationYears,89767.0,4.437039e+01,13.328550,18.00,3.400000e+01,42.000,54.000,98.000
Borrower2AgeAtApplicationYears,89767.0,4.474362e+02,471.482475,18.00,3.900000e+01,61.000,998.000,999.000
PropertyUsageType,89767.0,1.028095e+00,0.165245,1.00,1.000000e+00,1.000,1.000,2.000
PropertyUnitCount,89767.0,1.011619e+00,0.126254,1.00,1.000000e+00,1.000,1.000,4.000
NoteRatePercent,89767.0,3.965140e+00,0.511299,2.50,3.625000e+00,3.875,4.300,6.250
NoteAmount,89767.0,2.440618e+05,129646.820656,12800.00,1.480000e+05,220000.000,316848.500,1290000.000
HousingExpenseRatioPercent,89767.0,2.069573e+01,8.956895,0.00,1.476000e+01,19.510,25.590,999.000
TotalDebtExpenseRatioPercent,89767.0,3.154895e+01,9.561842,0.27,2.441000e+01,31.820,39.050,78.040
Borrower1CreditScoreValue,89767.0,4.393652e+00,0.826616,1.00,4.000000e+00,5.000,5.000,9.000
Borrower2CreditScoreValue,89767.0,6.390121e+00,2.314783,1.00,5.000000e+00,5.000,9.000,9.000
PMICoveragePercent,89767.0,4.529368e+00,10.000697,0.00,0.000000e+00,0.000,0.000,78.000
EmploymentBorrowerSelfEmployed,89767.0,3.859102e-01,0.486812,0.00,0.000000e+00,0.000,1.000,1.000
IndexSourceType,89767.0,9.900000e+01,0.000000,99.00,9.900000e+01,99.000,99.000,99.000
MarginRatePercent,89767.0,9.366648e+03,2433.738427,0.00,9.999000e+03,9999.000,9999.000,9999.000
Borrower1EthnicityType,89767.0,2.044916e+00,0.363468,1.00,2.000000e+00,2.000,2.000,4.000
Borrower1Race2Type,89767.0,6.863045e+00,0.369085,1.00,7.000000e+00,7.000,7.000,7.000
Borrower1Race3Type,89767.0,6.874230e+00,0.332665,2.00,7.000000e+00,7.000,7.000,7.000
Borrower1Race4Type,89767.0,6.874653e+00,0.331147,5.00,7.000000e+00,7.000,7.000,7.000
Borrower1Race5Type,89767.0,6.874676e+00,0.331088,6.00,7.000000e+00,7.000,7.000,7.000
Borrower2EthnicityType,89767.0,3.302583e+00,1.479171,1.00,2.000000e+00,2.000,5.000,5.000
Borrower2Race2Type,89767.0,7.347633e+00,0.621057,1.00,7.000000e+00,7.000,8.000,8.000
Borrower2Race3Type,89767.0,7.352880e+00,0.607281,3.00,7.000000e+00,7.000,8.000,8.000
Borrower2Race4Type,89767.0,7.353103e+00,0.606711,5.00,7.000000e+00,7.000,8.000,8.000
Borrower2Race5Type,89767.0,7.353125e+00,0.606661,6.00,7.000000e+00,7.000,8.000,8.000
HOEPALoanStatusType,89767.0,2.002974e+00,0.056662,1.00,2.000000e+00,2.000,2.000,3.000
LienPriorityType,89767.0,1.000000e+00,0.000000,1.00,1.000000e+00,1.000,1.000,1.000

In [7]:
#Check the shape of DataFrame
df_2019.shape

(89767, 56)

In [8]:
#View the datatypes of the columns
df_2019.dtypes

Year                                 int64
LoanCharacteristicsID                int64
Bank                                object
FIPSStateNumericCode                 int64
FIPSCountyCode                       int64
CoreBasedStatisticalAreaCode         int64
CensusTractIdentifier              float64
CensusTractMinorityRatioPercent    float64
CensusTractMedFamIncomeAmount        int64
LocalAreaMedianIncomeAmount          int64
TotalMonthlyIncomeAmount             int64
HUDMedianIncomeAmount                int64
LoanAcquisitionActualUPBAmt          int64
LTVRatioPercent                    float64
NoteDate                             int64
LoanAcquistionDate                   int64
LoanPurposeType                      int64
ProductCategoryName                  int64
MortgageType                         int64
ScheduledTotalPaymentCount           int64
LoanAmortizationMaxTermMonths        int64
MortgageLoanSellerInstType           int64
BorrowerCount                        int64
BorrowerFirstTimeHomebuyer           int64
Borrower1Race1Type                   int64
Borrower2Race1Type                   int64
Borrower1GenderType                  int64
Borrower2GenderType                  int64
Borrower1AgeAtApplicationYears       int64
Borrower2AgeAtApplicationYears       int64
PropertyUsageType                    int64
PropertyUnitCount                    int64
NoteRatePercent                    float64
NoteAmount                           int64
HousingExpenseRatioPercent         float64
TotalDebtExpenseRatioPercent       float64
Borrower1CreditScoreValue            int64
Borrower2CreditScoreValue            int64
PMICoveragePercent                 float64
EmploymentBorrowerSelfEmployed       int64
PropertyType                        object
IndexSourceType                      int64
MarginRatePercent                    int64
PrepaymentPenaltyExpirationDate     object
Borrower1EthnicityType               int64
Borrower1Race2Type                   int64
Borrower1Race3Type                   int64
Borrower1Race4Type                   int64
Borrower1Race5Type                   int64
Borrower2EthnicityType               int64
Borrower2Race2Type                   int64
Borrower2Race3Type                   int64
Borrower2Race4Type                   int64
Borrower2Race5Type                   int64
HOEPALoanStatusType                  int64
LienPriorityType                     int64
dtype: object

# Year : Year Loan Was Reported

**Verify and check if all the data are from 2019** 

We achieve this by counting all the rows where year is not equal to 2019. This test also verify there is no missing values in the column.

In [9]:
#Verifying Year Column
np.sum([df_2019['Year']!=2019])

0

# LoanCharacteristicsID : Unique Record ID (not actual loan number)

Check if there is any missing value in the columns.Also check if there is any duplicate values since the record ID should be Unique

**Check Missing Values**

We can use isnull() function to do this test.

In [10]:
np.sum(df_2019['LoanCharacteristicsID'].isnull())

0

Hence there is no missing values.

**Check if the values are unique**

This can be achived by getting the length of the unique value and comparing with the number of rows of the original dataframe.

In [11]:
len(df_2019['LoanCharacteristicsID'].unique())==89767

True

# Bank : Name of Federal Home Loan Bank District

Check the number of Bank in each city.We also convert this into categorical variable.

**Check the numbers of Banks in each City**

We achieve this by using value_counts() function

In [12]:
#Bank's City
df_2019['Bank'].value_counts()

Chicago          22462
Topeka           16093
Des Moines       14468
Cincinnati       11250
Dallas            8069
Indianapolis      5677
Pittsburgh        4458
Boston            2824
San Francisco     2487
New York          1979
Name: Bank, dtype: int64

*Hence Chicago and Topeka has maximum numbers of Banks*

**Convert into Categorical**

This can be achieved using astype function.

In [13]:
df_2019['Bank']=df_2019['Bank'].astype('category')

## FIPSStateNumericCode : 2 Digit FIPS State Code

- Check if there is any values with digits greater than 2. 
- Check the null values
- Convert into Categorical

**Check the values with digits greater than two**

This can be achived by accounting all the values whoes values are greater than 99

In [14]:
#verifying FIPSStateNumericCode columns (Should have 2 digits)
df_2019['FIPSStateNumericCode'][df_2019['FIPSStateNumericCode']>99]

Series([], Name: FIPSStateNumericCode, dtype: int64)

**Check if there is any missing value** 

This can be done by using value_count or isnull function.

In [15]:
#Check Null Values
df_2019['FIPSStateNumericCode'].value_counts()

55    10747
17     6843
39     6748
19     5782
20     5004
6      4910
18     4409
48     4409
31     4403
29     3628
27     3471
8      2734
42     2300
26     2197
25     2077
21     1502
46     1451
36     1377
51     1243
40     1197
12     1085
47      930
34      859
37      839
4       839
16      810
22      754
13      735
5       730
24      623
53      593
41      587
49      577
1       381
9       305
32      297
23      275
35      264
45      237
54      208
44      187
28      177
38      162
30      157
11      151
50      148
33      138
56      125
10       85
15       54
2        17
66        6
Name: FIPSStateNumericCode, dtype: int64

**Convert into Categorical**

We can use astype function.

In [16]:
df_2019['FIPSStateNumericCode']=df_2019['FIPSStateNumericCode'].astype('category')

## FIPSCountyCode : 3 Digit FIPS County Code

- Check the values are greater than 3 digits
- Check the null values
- Convert into Categorical var

**Check if the values are greater than 3**

This can achived by counting values greater than 999

In [17]:
#Verifying FIPSStateNumericCode columns (should have 3 digits)
df_2019[df_2019['FIPSCountyCode']>999]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

**Check Null values**

This can be achived by using isnull function.

In [18]:
np.sum(df_2019['FIPSCountyCode'].isnull())

0

**Convert the column into categorical**

This can be achieved using astype

In [19]:
df_2019['FIPSCountyCode']=df_2019['FIPSCountyCode'].astype('category')

## CoreBasedStatisticalAreaCode : The Property's Five Digit numeric CBSA; 99999 if
## state/county/tract combo is not in a CBSA or MSA

- Check the number of digits. Should be less than 5
- Check the null values

In [20]:
#CoreBasedStatisticalAreaCode should have no more than 5 digits
df_2019[df_2019['CoreBasedStatisticalAreaCode']>99999]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

In [21]:
#Check the count of null values
np.sum(df_2019['CoreBasedStatisticalAreaCode'].isnull())

0

## CensusTractIdentifier column : The property's Census Tract of Block Numbering Area (BNA)

- Check if there is any missing values

In [22]:
#Count the null values. 
np.sum(df_2019['CensusTractIdentifier'].isnull())

0

## CensusTractMinorityRatioPercent column : The percentage of the property's census tract population that is minority.

- Check the missing values. 
- Check the values with 0.0. This suggest area where minroty is zero

In [23]:
df_2019['CensusTractMinorityRatioPercent'].head()

0    4.577
1    3.421
2    6.152
3    3.935
4    6.031
Name: CensusTractMinorityRatioPercent, dtype: float64

In [24]:
#Check areas with 0% minority
df_2019[df_2019['CensusTractMinorityRatioPercent']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
13477,2019,2446287,Chicago,55,25,31540,9917.03,0.0,0,87309,...,7,7,7,2,7,7,7,7,2,1
20537,2019,2478655,Chicago,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1
36459,2019,2469015,Cincinnati,4,13,38060,9806.00,0.0,133494,68709,...,6,6,6,2,6,6,6,6,2,1
59677,2019,2406723,Indianapolis,26,147,19820,6470.00,0.0,71471,76739,...,7,7,7,5,8,8,8,8,2,1
60329,2019,2438332,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
60568,2019,2438571,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
61148,2019,2439151,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
62602,2019,2470200,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,2,7,7,7,7,2,1
62704,2019,2470302,Indianapolis,18,41,99999,9540.00,0.0,60741,55715,...,7,7,7,5,8,8,8,8,2,1
63490,2019,2520414,Indianapolis,18,79,35860,9603.01,0.0,60759,55741,...,7,7,7,5,8,8,8,8,2,1
64027,2019,2520951,Indianapolis,18,79,35860,9603.01,0.0,60759,55741,...,7,7,7,5,8,8,8,8,2,1
68196,2019,2430843,Pittsburgh,37,19,34820,9901.00,0.0,0,57630,...,7,7,7,2,7,7,7,7,2,1
77634,2019,2436650,Topeka,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1
86849,2019,2489053,Topeka,4,13,38060,9806.00,0.0,133494,68709,...,7,7,7,5,8,8,8,8,2,1

# CensusTractMedFamIncomeAmount : The property's census tract median family income.

In [25]:
#Check zero median family income
df_2019[df_2019['CensusTractMedFamIncomeAmount']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
549,2019,2407747,Boston,25,25,14460,711.01,51.052,0,95277,...,7,7,7,5,8,8,8,8,2,1
1122,2019,2422709,Boston,25,25,14460,9813.00,33.676,0,102945,...,7,7,7,2,7,7,7,7,2,1
1735,2019,2443474,Boston,25,25,14460,9813.00,33.676,0,102945,...,7,7,7,5,8,8,8,8,2,1
4177,2019,2409126,Chicago,55,105,27500,15.00,31.083,0,61315,...,7,7,7,5,8,8,8,8,2,1
6723,2019,2425429,Chicago,55,79,33340,1870.00,17.153,0,76163,...,7,7,7,5,8,8,8,8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72352,2019,2459466,San Francisco,6,1,41860,9820.00,35.211,0,109712,...,7,7,7,5,8,8,8,8,2,1
73067,2019,2492088,San Francisco,6,1,41860,4018.00,84.968,0,109712,...,7,7,7,2,7,7,7,7,2,1
75023,2019,2416179,Topeka,6,61,40900,223.00,6.065,0,74384,...,7,7,7,2,7,7,7,7,2,1
82564,2019,2463489,Topeka,31,109,30700,19.00,10.977,0,75378,...,7,7,7,2,7,7,7,7,2,1
85809,2019,2488013,Topeka,25,17,14460,3522.00,37.263,0,102945,...,7,7,7,5,8,8,8,8,2,1

Hence there are 62 Loan where Tract Median income is zero. This suggest that this data is most probabaly not available for these loans and we can treat them as missing values.

In [48]:
#Replace 0 median income family with NaN
df_2019['CensusTractMedFamIncomeAmount'][df_2019['CensusTractMedFamIncomeAmount']==0.0]=np.nan

<ipython-input-48-c8420d1b4a7d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['CensusTractMedFamIncomeAmount'][df_2019['CensusTractMedFamIncomeAmount']==0.0]=np.nan

In [49]:
df_2019['CensusTractMedFamIncomeAmount'][df_2019['CensusTractMedFamIncomeAmount'].isnull()]

549     NaN
1122    NaN
1735    NaN
4177    NaN
6723    NaN
         ..
72352   NaN
73067   NaN
75023   NaN
82564   NaN
85809   NaN
Name: CensusTractMedFamIncomeAmount, Length: 62, dtype: float64

# LocalAreaMedianIncomeAmount : The property's median income for the area based on the most recent decennial census.
Check for zero median family income since most probabaly this data is missing so we can replace it NaN value.

In [50]:
#Check family with zero median income
df_2019[df_2019['LocalAreaMedianIncomeAmount']==0.0]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
46117,2019,2413890,Des Moines,66,10,99999,9559.00,92.9,NaN,0,...,7,7,7,5,8,8,8,8,2,1
49180,2019,2434525,Des Moines,66,10,99999,9557.00,92.9,NaN,0,...,7,7,7,5,8,8,8,8,2,1
49181,2019,2434526,Des Moines,66,10,99999,9540.00,92.9,NaN,0,...,7,7,7,2,7,7,7,7,2,1
49182,2019,2434527,Des Moines,66,10,99999,9504.01,92.9,NaN,0,...,7,7,7,5,8,8,8,8,2,1
52221,2019,2455128,Des Moines,66,10,99999,9504.02,92.9,NaN,0,...,7,7,7,2,7,7,7,7,2,1
55776,2019,2472075,Des Moines,66,10,99999,9540.00,92.9,NaN,0,...,7,7,7,5,8,8,8,8,2,1

In [51]:
#Replace 0 median income family with NaN
df_2019['LocalAreaMedianIncomeAmount'][df_2019['LocalAreaMedianIncomeAmount']==0.0]=np.nan

<ipython-input-51-428e0ee13717>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['LocalAreaMedianIncomeAmount'][df_2019['LocalAreaMedianIncomeAmount']==0.0]=np.nan

In [52]:
df_2019['LocalAreaMedianIncomeAmount'][df_2019['LocalAreaMedianIncomeAmount'].isnull()]

46117   NaN
49180   NaN
49181   NaN
49182   NaN
52221   NaN
55776   NaN
Name: LocalAreaMedianIncomeAmount, dtype: float64

# TotalMonthlyIncomeAmount : The total monthly qualifying income used for underwriting in whole dollars for all borrowers on the loan
- Check if there is anay missing values

In [53]:
np.sum(df_2019['TotalMonthlyIncomeAmount'].isnull())

0

In [56]:
np.sum(df_2019['TotalMonthlyIncomeAmount']==0)

0

Hence there is no missing values.

# HUDMedianIncomeAmount : Current median income for a family of four for the area as established by HUD
- Check for missing values

In [57]:
#Check null values
np.sum(df_2019['HUDMedianIncomeAmount'].isnull())

0

In [69]:
#Check zero values
np.sum(df_2019['HUDMedianIncomeAmount']==0)

0

There is no missing values.

# LoanAcquisitionActualUPBAmt : The Amount of unpaid principal balance in whole dollars when acquired by the FHLBank.
- Check for missing values

In [70]:
#Function to check both null and missing values.
def check_missing_val(col):
    count_missing=np.sum(df_2019[col].isnull())+np.sum(df_2019[col]==0)
    return count_missing

check_missing_val('LoanAcquisitionActualUPBAmt')

0

Hence there is no missing values.

# LTVRatioPercent : The loan-to-value ratio of the mortgage at time of origination
- Check for missing values

In [61]:
#Function to check both null and missing values.
check_missing_val('LTVRatioPercent')

0

Hence there is no missing values.

# NoteDate : Year the mortgage was originated.
- Convert into categorical.

In [63]:
df_2019['NoteDate'].head()

0    2018
1    2019
2    2018
3    2018
4    2018
Name: NoteDate, dtype: int64

In [85]:
#CHeck the number of diffrent values present in the column.
df_2019['NoteDate'].value_counts()

2019    86139
2018     3404
2017      175
2016       26
2015       15
2014        8
Name: NoteDate, dtype: int64

In [86]:
#Function to convert col into categorical
def convert_to_cat(df_2019,col):
    df_2019[col]=df_2019[col].astype('category')
    print(df_2019[col].dtype.name)
    return df_2019


df_2019=convert_to_cat(df_2019,col='NoteDate')

category

In [68]:
df_2019['NoteDate'].dtype.name

'category'

# LoanAcquistionDate : Year the mortgage was acquired.
- Convert into categorical.

In [87]:
#Check the years present in the data. 
df_2019['LoanAcquistionDate'].value_counts()

2019    89767
Name: LoanAcquistionDate, dtype: int64

In [89]:
#Check courrent data typename.
df_2019['LoanAcquistionDate'].dtype.name

'category'

In [90]:
#Convert to categorical
#df_2019['LoanAcquistionDate']=df_2019['LoanAcquistionDate'].astype('category')
#df_2019['LoanAcquistionDate'].dtype.name

df_2019=convert_to_cat(df_2019,col='LoanAcquistionDate')

category

In [80]:
#Check Datatype
df_2019['LoanAcquistionDate'].dtype.name

'category'

# LoanPurposeType : Purpose of Loan: 1 = Purchase, 2 = No-Cash Out Refinancing, 3 = Second Mortgage, 4 = New Construction, 5 = Rehabilitation or Home Improvement, 6 = Cash-out Refinancing, 7 = Other|

In [91]:
df_2019['LoanPurposeType'].value_counts()

1    40379
6    26778
2    22610
Name: LoanPurposeType, dtype: int64

In [92]:
#Convert to categorical
#df_2019['LoanPurposeType']=df_2019['LoanPurposeType'].astype('category')
#df_2019['LoanPurposeType'].dtype.name
df_2019=convert_to_cat(df_2019,col='LoanPurposeType')

category

In [93]:
df_2019['LoanPurposeType'].value_counts()

1    40379
6    26778
2    22610
Name: LoanPurposeType, dtype: int64

# ProductCategoryName :Product type of Mortgage: 01=Fixed Rate, 02=ARM, 03=No Longer in Use, 04=GPM/GEM, 05=Reverse Annuity Mortgage, 06=Other, 07-98=Reserved for future use
- Check the diffrent values present. 
- Convert to categorical.

In [94]:
#Check produt types present in the column.
df_2019['ProductCategoryName'].value_counts()

1    89767
Name: ProductCategoryName, dtype: int64

In [95]:
#Check data type name
df_2019['ProductCategoryName'].dtype.name

'int64'

In [97]:
#Converting it to categorical
#df_2019['ProductCategoryName']=df_2019['ProductCategoryName'].astype('category')
#df_2019['ProductCategoryName'].dtype.name
df_2019=convert_to_cat(df_2019,col='ProductCategoryName')

category

# MortgageType : Type of Mortgage and whether the mortgage is guaranteed: 0=Conventional, 1=FHA, 2=VA, 3=USDA Rural Housing-FSA Guaranteed, 4=HECMs, 5=Title1- FHA
- Check number of values. 
- Convert to categorical.

In [100]:
#Check the types of values present in the column. 
df_2019['MortgageType'].value_counts()

0    86451
3     1271
2     1033
1     1012
Name: MortgageType, dtype: int64

In [101]:
#Convert the column to categorical. 
df_2019=convert_to_cat(df_2019,col='MortgageType')

category

# ScheduledTotalPaymentCount : Term of the Mortgage in Months
- Check for missing values.
- Check the values present.

In [102]:
#Check missing values. 
check_missing_val('ScheduledTotalPaymentCount')

0

In [103]:
#Check the values present in the dataframe
df_2019['ScheduledTotalPaymentCount'].value_counts()

360    73564
180     8523
240     6010
300      422
120      303
       ...
297        1
210        1
171        1
299        1
127        1
Name: ScheduledTotalPaymentCount, Length: 108, dtype: int64

# LoanAmortizationMaxTermMonths : For Amortizing Mortgages, term of amortization in months; 998 if non-amortizing loan
- Check the values 
- Compare with ScheduledTotalPaymentCount column to check if boh columns are duplicate.

In [105]:
#Check Values. 
df_2019['LoanAmortizationMaxTermMonths'].value_counts()

360    73564
180     8523
240     6010
300      422
120      303
       ...
297        1
210        1
171        1
299        1
127        1
Name: LoanAmortizationMaxTermMonths, Length: 108, dtype: int64

In [106]:
#Check if both columns have same value
df_2019[df_2019['ScheduledTotalPaymentCount']!=df_2019['LoanAmortizationMaxTermMonths']]

Empty DataFrame
Columns: [Year, LoanCharacteristicsID, Bank, FIPSStateNumericCode, FIPSCountyCode, CoreBasedStatisticalAreaCode, CensusTractIdentifier, CensusTractMinorityRatioPercent, CensusTractMedFamIncomeAmount, LocalAreaMedianIncomeAmount, TotalMonthlyIncomeAmount, HUDMedianIncomeAmount, LoanAcquisitionActualUPBAmt, LTVRatioPercent, NoteDate, LoanAcquistionDate, LoanPurposeType, ProductCategoryName, MortgageType, ScheduledTotalPaymentCount, LoanAmortizationMaxTermMonths, MortgageLoanSellerInstType, BorrowerCount, BorrowerFirstTimeHomebuyer, Borrower1Race1Type, Borrower2Race1Type, Borrower1GenderType, Borrower2GenderType, Borrower1AgeAtApplicationYears, Borrower2AgeAtApplicationYears, PropertyUsageType, PropertyUnitCount, NoteRatePercent, NoteAmount, HousingExpenseRatioPercent, TotalDebtExpenseRatioPercent, Borrower1CreditScoreValue, Borrower2CreditScoreValue, PMICoveragePercent, EmploymentBorrowerSelfEmployed, PropertyType, IndexSourceType, MarginRatePercent, PrepaymentPenaltyExpirationDate, Borrower1EthnicityType, Borrower1Race2Type, Borrower1Race3Type, Borrower1Race4Type, Borrower1Race5Type, Borrower2EthnicityType, Borrower2Race2Type, Borrower2Race3Type, Borrower2Race4Type, Borrower2Race5Type, HOEPALoanStatusType, LienPriorityType]
Index: []

[0 rows x 56 columns]

In [107]:
#So Both columns are same. Hence we can drop one column
df_2019=df_2019.drop('LoanAmortizationMaxTermMonths',axis=1)

# MortgageLoanSellerInstType : Type of Institution from which the FHLBank acquired the mortgage. 01=Insured depository institution, 02=Housing Associate, 03=Insurance Company, 04=NonFederally Insured CU, 05=Non-Depository CDFI,06=Other FHLBank, 09=Other
- Check the values in the column. 
- Convert to categorical.

In [108]:
#Check the values.
df_2019['MortgageLoanSellerInstType'].value_counts()

1    89538
9      229
Name: MortgageLoanSellerInstType, dtype: int64

In [109]:
df_2019['MortgageLoanSellerInstType'].dtype.name

'int64'

In [110]:
#Convert to categorical.
df_2019=convert_to_cat(df_2019,'MortgageLoanSellerInstType')

category

In [99]:
df_2019['MortgageLoanSellerInstType'].dtype.name

'category'

# BorrowerCount : Number of Borrowers

# BorrowerFirstTimeHomebuyer : Numeric code indicating whether borrower

In [103]:
df_2019['BorrowerFirstTimeHomebuyer'].value_counts()

0    57796
1    31971
Name: BorrowerFirstTimeHomebuyer, dtype: int64

In [105]:
df_2019['BorrowerFirstTimeHomebuyer'].dtype.name

'int64'

In [106]:
df_2019['BorrowerFirstTimeHomebuyer']=df_2019['BorrowerFirstTimeHomebuyer'].astype('category')

In [107]:
df_2019['BorrowerFirstTimeHomebuyer'].dtype.name

'category'

# Borrower1Race1Type: Numeric code indicating the race of the Borrower.1=American Indian or Alaska Native, 2=Asian, 3=Black or African American, 4=Native Hawaiian or other Pacific Islander, 5=White, 6=Information not provided by Borrower, 7=Not Applicable (First or primary borrower is an institution, corporation or partnership)

In [109]:
df_2019['Borrower1Race1Type'].value_counts()

5    76982
6     7352
2     3128
3     1677
1      516
4      112
Name: Borrower1Race1Type, dtype: int64

In [110]:
df_2019['Borrower1Race1Type'].dtype.name

'int64'

In [111]:
df_2019['Borrower1Race1Type']=df_2019['Borrower1Race1Type'].astype('category')

In [112]:
df_2019['Borrower1Race1Type'].dtype.name

'category'

# Borrower2Race1Type : Numeric code indicating the race of the Co-Borrower.1=American Indian or Alaska Native, 2=Asian, 3=Black or African American, 4=Native Hawaiian or other Pacific Islander, 5=White, 6=Information not provided by borrower, 7=Not Applicable (First or primary borrower is an institution, corporation or partnership), 8=No Co-Borrower

In [113]:
df_2019['Borrower2Race1Type'].value_counts()

5    44821
8    37965
6     4502
2     1577
3      638
1      199
4       64
7        1
Name: Borrower2Race1Type, dtype: int64

In [114]:
df_2019['Borrower2Race1Type']=df_2019['Borrower2Race1Type'].astype('category')
df_2019['Borrower2Race1Type'].dtype.name

'category'

# Borrower1GenderType : Numeric code indicating the sex of the first or primary borrower. 1=Male, 2=Female, 3=Information not provided by borrower, 4=Not Applicable (First or primary borrower is an institution, corporation or partnership), 6=Borrower selected both male and female

In [115]:
df_2019['Borrower1GenderType'].value_counts()

1    60393
2    25094
3     4217
6       63
Name: Borrower1GenderType, dtype: int64

In [116]:
df_2019[df_2019['Borrower1GenderType']==6]

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
435,2019,2407633,Boston,25,25,14460,1201.04,35.131,96786,98431,...,7,7,7,2,7,7,7,7,2,1
475,2019,2407673,Boston,25,21,14460,4132.00,12.963,99695,98431,...,7,7,7,2,7,7,7,7,2,1
688,2019,2422275,Boston,23,5,38860,42.00,3.535,122076,80629,...,7,7,7,2,7,7,7,7,2,1
1093,2019,2422680,Boston,25,5,39300,6311.00,12.035,76053,79347,...,7,7,7,2,7,7,7,7,2,1
1800,2019,2443539,Boston,25,21,14460,4103.00,8.275,125298,102945,...,7,7,7,2,7,7,7,7,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86655,2019,2488859,Topeka,8,35,19740,141.25,10.779,178125,88102,...,7,7,7,2,7,7,7,7,2,1
86740,2019,2488944,Topeka,8,95,99999,9676.00,27.366,64767,64651,...,7,7,7,5,8,8,8,8,2,1
87400,2019,2489604,Topeka,20,173,48620,55.01,10.655,58618,68171,...,7,7,7,5,8,8,8,8,2,1
87783,2019,2489987,Topeka,31,55,36540,75.13,7.829,153463,79131,...,7,7,7,2,7,7,7,7,2,1
88122,2019,2490326,Topeka,20,173,48620,21.00,13.080,78750,68171,...,7,7,7,5,8,8,8,8,2,1

In [117]:
df_2019['Borrower1GenderType']=df_2019['Borrower1GenderType'].astype('category')
df_2019['Borrower1GenderType'].dtype.name

'category'

# Borrower2GenderType : Numeric code indicating the sex of the co-borrower. 1=Male, 2=Female, 3=Information not provided by borrower, 4=No Co-Borrower, 5=Not Applicable (First or primary borrower is an institution, corporation or partnership), 6=Borrower selected both male and female

In [118]:
df_2019['Borrower2GenderType'].value_counts()

2    38527
4    37965
1    10569
3     2647
6       59
Name: Borrower2GenderType, dtype: int64

In [119]:
df_2019['Borrower2GenderType']=df_2019['Borrower2GenderType'].astype('category')

In [120]:
df_2019['Borrower2GenderType'].dtype.name

'category'

# Borrower1AgeAtApplicationYears : Age in years of the borrower at time application submitted; 999=Age not provided, 998=Not Applicable (Borrower might be a legal entity like an LLC)

# Borrower2AgeAtApplicationYears : Age in years of the borrower at time application submitted; 999=Age not provided, 998=No CoBorrower

# PropertyUsageType : Numeric code indicating whether property is owner occupied, second home or a rental investment property. 1=Principal Residence, 2=Second Home, 3=Investment Property

In [125]:
df_2019['PropertyUsageType'].value_counts()

1    87245
2     2522
Name: PropertyUsageType, dtype: int64

In [126]:
df_2019['PropertyUsageType']=df_2019['PropertyUsageType'].astype('category')

In [127]:
df_2019['PropertyUsageType'].dtype.name

'category'

# PropertyUnitCount : Total number of units in the property

In [130]:
df_2019['PropertyUnitCount'].value_counts()

1    88889
2      748
3       95
4       35
Name: PropertyUnitCount, dtype: int64

In [131]:
df_2019['PropertyUnitCount']=df_2019['PropertyUnitCount'].astype('category')

# NoteRatePercent : Interest rate on the mortgage at acquisition

# NoteAmount : Mortgage balance at origination

# HousingExpenseRatioPercent : Ratio of mortgage principal and interest and housing expenses to total borrower income.

# TotalDebtExpenseRatioPercent : Ratio of all debt payments to total borrower income.

# Borrower1CreditScoreValue : Credit Scores are separated into a range: 1=<620, 2=620 < 660, 3=660 < 700, 4=700 < 760, 5=760 or greater, 9 = Missing or Not Applicable

In [136]:
df_2019['Borrower1CreditScoreValue'].value_counts()

5    49761
4    27763
3     9072
2     2921
9      155
1       95
Name: Borrower1CreditScoreValue, dtype: int64

In [137]:
df_2019['Borrower1CreditScoreValue']=df_2019['Borrower1CreditScoreValue'].astype('category')

In [138]:
df_2019['Borrower1CreditScoreValue'].dtype.name

'category'

# Borrower2CreditScoreValue : Credit Scores are separated into a range: 1=<620, 2=620 < 660, 3=660 < 700, 4=700 < 760, 5=760 or greater, 9 = Missing, Not Applicable or No-CoBorrower

In [139]:
df_2019['Borrower2CreditScoreValue'].value_counts()

9    38124
5    30887
4    15196
3     4202
2     1323
1       35
Name: Borrower2CreditScoreValue, dtype: int64

In [140]:
df_2019['Borrower2CreditScoreValue']=df_2019['Borrower2CreditScoreValue'].astype('category')

# PMICoveragePercent : Percent of mortgage balance at origination covered by loan level PMI

# EmploymentBorrowerSelfEmployed : Numeric code indicating whether the borrower is selfemployed. 0=No, 1=Yes

In [143]:
df_2019['EmploymentBorrowerSelfEmployed'].value_counts()

0    55125
1    34642
Name: EmploymentBorrowerSelfEmployed, dtype: int64

In [144]:
df_2019['EmploymentBorrowerSelfEmployed']=df_2019['EmploymentBorrowerSelfEmployed'].astype('category')

# PropertyType : PT01=Single family detached; PT02=Deminimus PUD;PT03=Single family attached; PT04=Two family;PT05=Townhouse; PT06=Low-rise condo; PT07=PUD;PT08=Duplex; PT09=Three family; PT10=Four family;PT11=Hi-res condo; PT12=Manufactured home notchattel; PT13=Manufactured home chattel; PT14=Five plus multifamily

In [145]:
df_2019['PropertyType'].value_counts()

PT01    67614
PT07    15800
PT06     4773
PT04      739
PT03      380
PT12      152
PT05      113
PT09       95
PT11       50
PT10       35
PT08        9
PT02        7
Name: PropertyType, dtype: int64

In [146]:
df_2019['PropertyType']=df_2019['PropertyType'].astype('category')

In [147]:
df_2019['PropertyType'].dtype.name

'category'

# IndexSourceType: 01=11th District cost of funds; 02=Other cost of funds; 03=LIBOR; 04=1 year constant Treasury Rate; 99=Not an ARM

In [148]:
def convert_to_cat(col_name,df):
    df[col_name]=df[col_name].astype('category')
    return df

In [149]:
df_2019['IndexSourceType'].value_counts()

99    89767
Name: IndexSourceType, dtype: int64

In [150]:
df_2019=convert_to_cat('IndexSourceType',df_2019)

In [151]:
df_2019['IndexSourceType'].dtype.name

'category'

# MarginRatePercent : Margin added to the index used for the calculation of the interest on an ARM. 9999=Not Applicable|

In [155]:
df_2019['MarginRatePercent'][df_2019['MarginRatePercent']!=9999]

59073    0
59074    0
59075    0
59076    0
59077    0
        ..
64745    0
64746    0
64747    0
64748    0
64749    0
Name: MarginRatePercent, Length: 5677, dtype: int64

# PrepaymentPenaltyExpirationDate : Date when prepayment penalty ends; report 9999-12-31 if not applicable

In [157]:
df_2019['PrepaymentPenaltyExpirationDate'].value_counts()

9999-12-31    89767
Name: PrepaymentPenaltyExpirationDate, dtype: int64

In [159]:
#We can drop this columns since all the values are NA
df_2019=df_2019.drop('PrepaymentPenaltyExpirationDate',axis=1)

In [165]:
#Convert race and ethencities to category
to_cat=['Borrower1EthnicityType','Borrower1Race2Type','Borrower1Race3Type','Borrower1Race4Type','Borrower1Race5Type','Borrower2EthnicityType','Borrower2Race2Type','Borrower2Race3Type','Borrower2Race4Type','Borrower2Race5Type','HOEPALoanStatusType','LienPriorityType']

In [166]:
for col in to_cat:
    df_2019=convert_to_cat(col,df_2019)
    print(f'{col}:{df_2019[col].dtype.name}')

Borrower1EthnicityType:category
Borrower1Race2Type:category
Borrower1Race3Type:category
Borrower1Race4Type:category
Borrower1Race5Type:category
Borrower2EthnicityType:category
Borrower2Race2Type:category
Borrower2Race3Type:category
Borrower2Race4Type:category
Borrower2Race5Type:category
HOEPALoanStatusType:category
LienPriorityType:category

In [169]:
#Save the Df
df_2019.to_csv('Data/2019_dw_data.csv')

# Summary

 What did we do/find in this notebook? What changes have we made to the data before moving on to the next stage?