# Data Wrangling

## Import relevant libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_2019=pd.read_csv('Data/2019_data.csv')

In [5]:
df_2019.head()

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
0,2019,2407198,Boston,50,7,15540,34.0,4.577,132474,84290,...,7,7,7,5,8,8,8,8,2,1
1,2019,2407199,Boston,50,7,15540,29.0,3.421,100795,84290,...,7,7,7,2,7,7,7,7,2,1
2,2019,2407200,Boston,50,15,99999,9532.0,6.152,49625,67566,...,7,7,7,2,7,7,7,7,2,1
3,2019,2407201,Boston,50,17,30100,9594.0,3.935,62643,67105,...,7,7,7,2,7,7,7,7,2,1
4,2019,2407202,Boston,23,31,38860,254.0,6.031,87679,76445,...,7,7,7,5,8,8,8,8,2,1

In [6]:
df_2019.describe()

,Year,LoanCharacteristicsID,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,TotalMonthlyIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
count,89767.0,8.976700e+04,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,...,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.000000,89767.0
mean,2019.0,2.452548e+06,29.874119,89.649270,36172.717569,2681.255339,17.844881,87799.607785,74078.453998,9837.590317,...,6.874230,6.874653,6.874676,3.302583,7.347633,7.352880,7.353103,7.353125,2.002974,1.0
std,0.0,2.694902e+04,15.367330,85.719173,23931.023618,3652.664758,18.600936,30551.702748,11949.849407,7843.469558,...,0.332665,0.331147,0.331088,1.479171,0.621057,0.607281,0.606711,0.606661,0.056662,0.0
min,2019.0,2.406119e+06,1.000000,1.000000,10100.000000,1.000000,0.000000,0.000000,0.000000,791.000000,...,2.000000,5.000000,6.000000,1.000000,1.000000,3.000000,5.000000,6.000000,1.000000,1.0
25%,2019.0,2.429908e+06,18.000000,33.000000,19430.000000,102.020000,5.390500,66270.000000,65829.000000,5615.000000,...,7.000000,7.000000,7.000000,2.000000,7.000000,7.000000,7.000000,7.000000,2.000000,1.0
50%,2019.0,2.452349e+06,27.000000,71.000000,31080.000000,414.090000,11.000000,82019.000000,73493.000000,8333.000000,...,7.000000,7.000000,7.000000,2.000000,7.000000,7.000000,7.000000,7.000000,2.000000,1.0
75%,2019.0,2.474790e+06,42.000000,121.000000,41180.000000,4922.015000,22.546000,104219.000000,79347.000000,11907.000000,...,7.000000,7.000000,7.000000,5.000000,8.000000,8.000000,8.000000,8.000000,2.000000,1.0
max,2019.0,2.521673e+06,66.000000,840.000000,99999.000000,9917.030000,99.822000,250001.000000,133523.000000,449001.000000,...,7.000000,7.000000,7.000000,5.000000,8.000000,8.000000,8.000000,8.000000,3.000000,1.0

In [11]:
df_2019.shape

(89767, 56)

In [12]:
df_2019.dtypes

Year                                 int64
LoanCharacteristicsID                int64
Bank                                object
FIPSStateNumericCode                 int64
FIPSCountyCode                       int64
CoreBasedStatisticalAreaCode         int64
CensusTractIdentifier              float64
CensusTractMinorityRatioPercent    float64
CensusTractMedFamIncomeAmount        int64
LocalAreaMedianIncomeAmount          int64
TotalMonthlyIncomeAmount             int64
HUDMedianIncomeAmount                int64
LoanAcquisitionActualUPBAmt          int64
LTVRatioPercent                    float64
NoteDate                             int64
LoanAcquistionDate                   int64
LoanPurposeType                      int64
ProductCategoryName                  int64
MortgageType                         int64
ScheduledTotalPaymentCount           int64
LoanAmortizationMaxTermMonths        int64
MortgageLoanSellerInstType           int64
BorrowerCount                        int64
BorrowerFirstTimeHomebuyer           int64
Borrower1Race1Type                   int64
Borrower2Race1Type                   int64
Borrower1GenderType                  int64
Borrower2GenderType                  int64
Borrower1AgeAtApplicationYears       int64
Borrower2AgeAtApplicationYears       int64
PropertyUsageType                    int64
PropertyUnitCount                    int64
NoteRatePercent                    float64
NoteAmount                           int64
HousingExpenseRatioPercent         float64
TotalDebtExpenseRatioPercent       float64
Borrower1CreditScoreValue            int64
Borrower2CreditScoreValue            int64
PMICoveragePercent                 float64
EmploymentBorrowerSelfEmployed       int64
PropertyType                        object
IndexSourceType                      int64
MarginRatePercent                    int64
PrepaymentPenaltyExpirationDate     object
Borrower1EthnicityType               int64
Borrower1Race2Type                   int64
Borrower1Race3Type                   int64
Borrower1Race4Type                   int64
Borrower1Race5Type                   int64
Borrower2EthnicityType               int64
Borrower2Race2Type                   int64
Borrower2Race3Type                   int64
Borrower2Race4Type                   int64
Borrower2Race5Type                   int64
HOEPALoanStatusType                  int64
LienPriorityType                     int64
dtype: object

In [16]:
#Verifying Year Column
np.sum([df_2019['Year']!=2019])

0

In [19]:
#Bank's City
df_2019['Bank'].value_counts()

Chicago          22462
Topeka           16093
Des Moines       14468
Cincinnati       11250
Dallas            8069
Indianapolis      5677
Pittsburgh        4458
Boston            2824
San Francisco     2487
New York          1979
Name: Bank, dtype: int64